<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CadenaProyectoCampo"
			 connectionString="Data Source=.;Initial Catalog=ProyectoCampo;Integrated Security=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>